* {
	padding: 0;
	margin: 0;
}

.clearfix:after {
	content: "";
	display: block;
	width: 100%;
	height: 0;
	clear: both;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	line-height: 40px;
	padding: 10px 30px;

	background-color: #222; 
}

header a {
	display: inline-block;
	margin-left: 15px;
}

header .logo-image {
	height: 40px;
}

.menu {
	float: right;
	width: 70%;

	list-style: none;
}

.menu>li {
	position: relative;
	float: left;
}

.menu a {
	position: relative;
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 5px 10px;

	text-decoration: none;
	color: #fff;
}

.menu>li>a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 2px;
	background-color: #fff;

}

.menu li:hover .sub-menu {
	display: block;
}

.menu a:hover:after {
	display: block;
}

.sub-menu {
	position: absolute;
	top: 38px;
	left: 0;
	display: none;
	width: 150px;
	background-color: #ccc;
	list-style: none;
}
.sub-menu li {
	border: 1px solid #aaa;
}

main {
	padding: 80px 10px;
	background-color: #ddd;
}

.banner {
	height: 300px;
	background: #fff url(../images/banner.jpg) center top no-repeat;
	background-size: contain;
}

.articles-list {
	padding: 20px 10px;
}

.article {
	box-sizing: border-box;
	float: left;
	width: 30%;
	padding: 10px;
	margin: 1.66%;
	background-color: #fff;

	text-align: center;
}

.article img {
	height: 100px;
}

.article h4 {
	margin: 5px 0;

	line-height: 16px;
	text-align: left;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.article-footer {
	padding: 5px 10px;
}

.article-footer a {
	float: left;
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
}

.article-footer button {
	float: right;
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	border: none;
	color: #fff;
	background-color: #2222dd;
}

.like-icon {
	float: left;
	margin: 2px;
	width: 16px;
	height: 16px;
	background: url(../images/like-icon.png);
	background-position: 0 0;
	background-size: cover;
}
